@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    margin: 5vw;
}

h2, h3, p {
    color: #000000;
    font-size: clamp(16px, 5vw, 28px);
    line-height: 1.4;
    margin-top: 0;
}
