@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    margin: 7vw;
}

p {
  font-size: 15px;
  line-height: 1.5;
}

/* PC */
@media (min-width: 768px) {
  body {
    margin: 120px;
  }

  p {
    font-size: 25px;
  }
}
