@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #f9f9f9;
    font-family: 'Roboto', sans-serif;
    margin: 40px 40px;
}

p {
  font-size: 25px;
  line-height: 1.5;
}

/* PC */
@media (min-width: 768px) {
  body {
    margin: 75px;
  }

  p {
    font-size: 50px;
    line-height: 1.5;
  }
}
